<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>分类管理</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="/static/admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
<link href="/static/admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="/static/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/static/admin/css/animate.min.css" rel="stylesheet">
<link href="/static/admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>分类管理</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="{:url('add',array('reid'=>$reid))}">添加栏目</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th width="10%">栏目名称</th>
                                        <th width="40%">Title</th>
                                        <th width="10%">是否显示</th>
                                        <th width="10%">显示顺序</th>
                                        <th width="10%">添加时间</th>
                                        <th width="20%">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {volist name='typeArr' id='vo'}
                                    <tr>
                                        <td>{$vo.name}</td>
                                        <td>{$vo.seo_title}</td>
                                        <td>{$vo.isshow}</td>
                                        <td>{$vo.sort}</td>                            
                                        <td>{$vo.create_time}</td>
                                        <td>
                                            <button type="button" class="btn btn-outline btn-info subtype" data-id='{$vo.id}'>查看子栏目</button>
                                            <button type="button" class="btn btn-outline btn-info alter" data-id='{$vo.id}'>编辑</button>
                                            <button type="button" class="btn btn-outline btn-info del" data-id='{$vo.id}'>删除</button>
                                        </td>
                                    </tr>
                                    {/volist}
                                    
                                    </tbody>
                            </table>
                         </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/admin/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="/static/admin/js/content.min.js?v=1.0.0"></script>
    <script src="/static/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/static/admin/js/demo/peity-demo.min.js"></script>
    <script src="/static/admin/js/plugins/layer/layer.js"></script>
    <script>
         $(document).ready(function()
         {           
             
             //查看子栏目
             $('.subtype').click(function()
             {
                id=$(this).attr('data-id');
                window.location.href='{:url("index",array("reid"=>"'+id+'"))}';
             });

             //修改
             $('.alter').click(function()
             {
                id=$(this).attr('data-id');
                window.location.href='{:url("alter",array("id"=>"'+id+'"))}';
             });
       

             //删除
             $('.del').click(function(){
                
                id=$(this).attr('data-id');
                layer.confirm('您确定要删除吗？', {
                  btn: ['确定','取消'] //按钮
                 }, function()
                 {
                    //var index = layer.load();  //加载等待层
                    $.ajax({
                       type: "post",
                       url: '{:url("del",array("id"=>"'+id+'"))}',
                       data: {id:id},
                       dataType: "json",
                       success: function(data){
                          if(data.code==1)
                          {
                              window.location.reload();
                          }
                          else if(data.code==2)
                          {
                              layer.msg('旗下有子栏目，请先删除子栏目！');
                          }
                          else
                          {
                              layer.msg('删除失败');
                          }
                       }
                    });
                });
            })

         });
    </script>
</body>
</html>