<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport">
<title>{$Think.config.sitename}</title>
<link href="{$Think.HTML_STATIC}/css/style.css?v=1.1.0" rel="stylesheet">
<style>
.almaincont img{ width:100%; }
</style>
</head>

<body>
<div class="header">
      <div class="hleft"><a href="javascript:history.go(-1);" class="icon-angle-left"></a></div>
      <div class="hcenter">{$infos.title}</div>
</div>
<div class="lxcontent">
    {$infos.text}
</div>
</body>
</html>